*{
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0px;
    height: 100%;
    min-height: 100%;
}

html{
    scroll-behavior: smooth;
}